<!--The content below is only a placeholder and can be replaced.-->
<!--div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul-->
<app-home></app-home>
<router-outlet></router-outlet>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="wrapper">
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, doloribus! Libero qui beatae illo, recusandae autem
      voluptatibus illum unde in dolore id veritatis consectetur alias rem similique, nesciunt ullam sit quaerat dignissimos
      magnam sint! Similique, aspernatur nemo. Quasi, corrupti rerum. Fugit corrupti laudantium animi rerum ipsum! Autem
      placeat aspernatur reiciendis ipsam omnis deserunt dolor facilis cumque temporibus, recusandae tenetur velit adipisci,
      quisquam vitae similique unde praesentium. Error optio, illum quae earum quidem magni quo accusamus, pariatur et delectus
      tenetur veritatis.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quo quis quod repudiandae optio molestias nisi, quasi quas,
      laborum ducimus vel rem aut maiores fugiat tempore nostrum at qui cupiditate.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, doloribus! Libero qui beatae illo, recusandae autem
      voluptatibus illum unde in dolore id veritatis consectetur alias rem similique, nesciunt ullam sit quaerat dignissimos
      magnam sint! Similique, aspernatur nemo. Quasi, corrupti rerum. Fugit corrupti laudantium animi rerum ipsum! Autem
      placeat aspernatur reiciendis ipsam omnis deserunt dolor facilis cumque temporibus, recusandae tenetur velit adipisci,
      quisquam vitae similique unde praesentium. Error optio, illum quae earum quidem magni quo accusamus, pariatur et delectus
      tenetur veritatis.
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae quo quis quod repudiandae optio molestias nisi, quasi quas,
      laborum ducimus vel rem aut maiores fugiat tempore nostrum at qui cupiditate.
    </div>
    <div class="nested">
      <div class="b1">Lorem 1</div>
      <div class="b2">Lorem 2</div>
      <div class="b3">Lorem 3</div>
      <div class="b4">Lorem 4</div>
    </div>
  </div>

</body>

</html> -->